@media  ( max-width: 1200px )
    .container
        max-width: 900px
    .swiper
        &-slide
            width: 950px
            &__container
                max-width: 950px
@media  ( max-width: 1005px )

    .container
        max-width: 900px
    .swiper
        &-slide
            width: 950px
            &__container
                max-width: 950px
        &-container
            width: 950px

@media  ( max-width: 992px )
    .hero
        padding-bottom: 147px
    .container
        max-width: 85%
    .swiper
        &-slide
            width: 850px
            &__container
                max-width: 850px
                &_item
                    &_description
                        width: 390px
                        padding-left: 50px

                        padding-top: 88px
                    &-pic
                        padding-top: 35px
                        padding-right: 0

        &-container
            width: 850px
            height: auto
            padding-bottom: 20px
    .about
        &__wrapper
            &__item
                &-mt64
                    margin-top: 64px
                &-mtnew
                    margin-top: 64px
    #before992
        display: block
    #after992
        display: none
    #important992
        display: none
    .about
        &__wrapper
            &__item
                max-width: 360px

    .splide
        &__slide
            &-pic
                width: 340px
            &__info
                width: 230px
                &-title
                    font-size: 20px
    .contact
        &__data
            width: 320px
        &__message
            width: 250px
        &__button
            width: 250px
            font-size: 16px
            &:hover
                background-color: #000
    .form
        width: 300px
    .input
        width: 250px
    .hero
        &-avatar
            width: 276px
            height: 269px
            margin-top: 90px
            margin-right: 50px
@media  ( max-width: 920px )
    #before992
        display: block
    #after992
        display: none

@media  ( max-width: 900px )
    .about
        &__wrapper
            &__item
                max-width: 260px

@media  ( max-width: 850px )

    .hero
        padding-bottom: 147px
    .container

    .swiper
        &-slide
            max-width: 768px
            &__container
                max-width: 768px
                margin: auto

        &-container
            max-width: 768px
            height: auto
            padding-bottom: 20px
    .header
        &__wrapper
            margin: auto
            max-width: 630px

@media  ( max-width: 768px )

    .swiper
        &-slide
            max-width: 576px
            &__container
                max-width: 576px
                margin: auto
                &_item
                    &_description
                        padding-left: 0

        &-container
            max-width: 576px
            height: auto
            padding-bottom: 20px
    .hero
        &_name
            font-size: 24px
            margin-bottom: 18px
        &_profession
            font-size: 16px
            text-transform: uppercase
            margin-bottom: 0
        &_text
            font-size: 14px
        &__button
            width: 173px
            font-family: Source Sans Pro
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 18px
            display: flex
            align-items: center
            text-align: center
            text-transform: uppercase
            padding: 20px 18px
            color: #FFFFFF
        &-avatar
            margin-right: 10px
            margin-top: 50px
    .splide
        &__slide
            padding-right: 0
            width: 95%
    .section
        &-title
            font-size: 32px
            &-disable
                display: none

            &-colored
                display: block
                background: #E34035
                padding-top: 35px
                padding-bottom: 35px
                padding-left: 48px
                font-family: Source Sans Pro
                font-style: normal
                font-weight: bold
                font-size: 32px
                line-height: 45px

                color: #FFFFFF
    .contact
        background: #000000
        padding-bottom: 0
    .form
        &-title
            text-align: start
    .contact
        &__input
            border-radius: 0px
        &__message
            border-radius: 0px
        &__data
            width: 220px
            height: fit-content
            padding-top: 0px
            &__item
                &-title
                    padding-top: 35px
                &-link
                    padding-bottom: 5px
                &__icons
                    margin-top: 0
                    padding-top: 35px
    .links
        flex-direction: column
    .social
        margin-top: 0
    .contact-hr
        display: block
        height: auto
        margin-top: 0
        margin-bottom: 0
        border: 1px solid rgba(255, 255, 255, 0.43)
    .cp
        width: 60px
    .pb
        width: 142px
    .license
        width: 145px
        text-align: end

@media  ( max-width: 700px )

    .splide
        &__slide
            padding-right: 0
            width: 95%
            flex-direction: column
            height: fit-content
            &-pic
                width: 95%
                order: 2
                height: 384px
                margin-bottom: 40px
                margin-left: auto
                margin-right: auto

            &__info
                &-title
                    display: inline-block
                    width: 590px
                    padding-left: 13px
                    padding-bottom: 35px
                    order: 1
                    font-size: 24px
                    margin: auto
                &__container
                    &__item
                        display: none
        &__pagination
            padding-top: 0
    .projects
        height: fit-content

@media  ( max-width: 670px )
    .vertical
        display: none
    #before992
        display: none

@media  ( max-width: 650px )

    .contact-hr
        display: none
    .contact
        &__wrapper
            flex-direction: column
        &__message
            width: 100%
            background-position: 2% center
            padding-top: 31px
            padding-bottom: 30px
        &__button
            width: 100%
        &__input
            margin-left: 0
            margin-right: 0
        .phone
            margin-left: auto
        &__data
            width: 100%
            &__item
                &-link
                    padding-bottom: 20px
                &__icons
                    align-items: center
                    width: 150px
    .form
        width: inherit
        display: flex
        flex-direction: row
        &-title
            max-width: inherit
            text-align: center
    .phone
        margin-top: 0
    .input
        width: 47%
    .section
        &-title
            padding-bottom: 60px
    .social
        width: 50%
    .splide
        &__slide
            &-pic
                height: 284px
@media  ( max-width: 612px )
    .about
        &__wrapper
            &__item
                max-width: 100%
                &-text
                    width: 70%
    .hero
        &-avatar
            display: none
    .swiper
        &-slide
            width: 425px
            &__container
                max-width: 425px
                &_item
                    &_description
                        width: 425px
                        text-align: center
    .hero
        &__button
            margin-left: auto
            margin-right: auto
    #mobile-item
        margin-top: 64px

        &-container
            max-width: 520px
            height: auto
            padding-bottom: 20px
    .splide
        &__slide
            &__info
                &-title
                    width: 465px

@media  ( max-width: 576px )

    .swiper
        &-slide
            max-width: 425px
            &__container
                max-width: 425px
                margin: auto
                &_item
                    &_description
                        padding-left: 0

        &-container
            max-width: 425px
            height: auto
            padding-bottom: 20px
    .hero
        &_name
            font-size: 24px
            margin-bottom: 18px
        &_profession
            font-size: 16px
            text-transform: uppercase
            margin-bottom: 0
        &_text
            font-size: 14px
        &__button
            width: 173px
            font-family: Source Sans Pro
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 18px
            display: flex
            align-items: center
            text-align: center
            text-transform: uppercase
            padding: 20px 18px
            color: #FFFFFF
        &-avatar
            display: none
    .splide
        &__slide
            padding-right: 0
            width: 95%

@media  ( max-width: 550px )
    .splide
        &__slide
            &__info
                &-title
                    width: 405px

@media  ( max-width: 500px )
    .cp
        font-size: 16px
